/*Base*/

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 /*border: 1px solid #F00;*/
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    color: #111;
	/*Add ligatures to font style*/
	
    font-feature-settings: "kern", "liga";
	-moz-font-feature-settings: "kern", "liga";
	-moz-font-feature-settings: "kern=1", "liga=1";
	-ms-font-feature-settings: "kern", "liga";
	-o-font-feature-settings: "kern", "liga";
	-webkit-font-feature-settings: "kern", "liga";
}

p,
h1 {
    color: #000000;
}

p {
    line-height: 1.61em;
}

h1,
figcaption,
.footerCredit,
#Layer_1 {
    text-align: center;
}

h1, span {
    font-weight: 700;
}

.element,
.app__div--container,
.main__div--flexContainer,
.contentContainer,
#Layer_1 {
    margin: 0 auto;
}

.element,
.nav__ul--flexContainer,
.alternativeLogo,
#Layer_1 {
    display: block;
}

.element {
    background-image: url('backgroundThree.svg');
    background-color: #edeff0;
    background-size: 50px 50px;
    height: 100%;
    width: 100%;
}

.app__div--container {
	  width: 75%;
      height: auto;
      background-color: #ffffff;
      z-index: 999;
      padding: 1em;
}

.nav {
    height: 5em;
}

.main__div--flexContainer {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
}

.alternativeLogo {
    position: relative;
    top: 3em;
    margin: 2em auto;
}

.contentContainer {
    width: 40%;
    padding: 3em 0 0 0;
}


/*Header*/

li {
    display: inline-block;
    width: 6em;
    height: 1em;
    float: left;
}

span {
    color: #39add1;
    margin: 0 0 0 .3em;
    transition: color .61s ease-out;
}

span:hover {
    color: #111;
}

.heart,
.location,
.contact {
    float: left;
    width: 15px;
    height: 15px;
    transition: fill .61s ease-out;
    fill: #39add1;
}

.heart:hover,
.location:hover,
.contact:hover {
    fill: #111;
}

/*Body*/

figcaption,
.footerCredit {
    color: #ba8058;
}

footer {
    margin: 100px 0 0 0;
}

#Layer_1 {
    position: relative;
    top: 3em;
    height: 120px;
    width: 140px;
    clear: both;
}

.corgiPics,
#redCorgi,
#fawnCorgi,
#sableCorgi,
#blackAndTanCorgi {
    width: 9em;
    height: 9em;
}

.redCorgiRightEar,
.redCorgiLeftEar,
.redCorgiFace,
.sableCorgiRightEyebrow,
.sableCorgiLeftEyebrow,
.blackAndTanCorgiRightEar,
.blackAndTanCorgiLeftEar,
.blackAndTanCorgiLeftEyebrow,
.blackAndTanCorgiRightEyebrow,
.innerEllipseLogo {
    fill: #BA8058;
}

.redCorgiJaws,
.fawnCorgiJaws,
.sableCorgiJaws,
.blackAndTanCorgiJaws {
    fill:#FBFEFF;
}

.redCorgiNose,
.redCorgiLeftEye,
.redCorgiRightEye,
.fawnCorgiNose,
.fawnCorgiLeftEye,
.fawnCorgiRightEye,
.sableCorgiRightEye,
.sableCorgiLeftEye,
.sableCorgiNose,
.blackAndTanCorgiNose,
.blackAndTanCorgiRightEye,
.blackAndTanCorgiLeftEye {
    fill:#2D3339;
}

.fawnCorgiLeftEar,
.fawnCorgiRightEar,
.fawnCorgiFace,
.redCorgiRightEyebrow,
.redCorgiLeftEyebrow,
.p,
.a,
.w,
.r,
.i,
.n,
.t,
.k,
.e,
.l,
.s {
    fill:#EAAA7F;
}

.fawnCorgiRightEyebrow,
.fawnCorgiLeftEyebrow,
.middleToePad,
.rightToePad,
.leftToePad,
.heelPad {
    fill:#F4C6A6;
}

.sableCorgiRightEar,
.sableCorgiLeftEar,
.sableCorgiFace {
    fill:#844B24;
}

.blackAndTanCorgiFace {
    fill:#52595F;
}

/*Media Queries*/

@media screen and (max-width: 768px){
    .app__div--container {
        width: 95%;
    }

    .contentContainer {
        width: 75%;
    }
}
  
@media screen and (max-width: 419px) {
    .logoTitle {
        display: none;
    }
}

@media screen and (min-width: 420px) {
    .alternativeLogo {
        display: none;
    }
}
  
  
  
